* {
  background-color: lightgrey;
  font-family: 'Arima Madurai', cursive;
}

h1 {
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
  margin-top: 30px;
  font-family: 'Courgette', cursive;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 50px;
  margin-left: 30px;
}


ul {
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 10px;
}

.store-header{
  font-size: 0.8em;
  font-weight: bold;
  list-style-type: none;
  margin-bottom: 10px;
}

p {
  font-size: 0.8em;
  margin-bottom: 1em;
  text-decoration: underline;
}
/* ul p {
  font-size: 1em;
} */

li {
  font-size: 0.7em;
  margin-bottom: 1em;
}

th{
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
}

td{
  padding: 1em;
  font-size: 1.2em;
}