* {
  background-color:pink;
}

body {
  padding: 1em 2em;
}

h1 {
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
  margin-top: 30px;
  font-family: 'Courgette', cursive;
  color: darkslategray;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 50px;
  margin-left: 30px;
  color:darkblue
}


ul {
  font-size: 1.1em;
  list-style-type: square;
  list-style-position: inside;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.store-header{
  font-size: 1em;
  font-weight: bold;
  list-style-type: none;
  margin-bottom: 10px;
  margin-top: 30px;
  color:brown;
}

p {
  font-size: 0.9em;
  margin-bottom: 1em;
  text-decoration: underline;
  color: black;
}
/* ul p {
  font-size: 1em;
} */

li {
  font-size: 0.8em;
  margin-bottom: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

th{
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
}

td{
  padding: 1em;
  font-size: 1.2em;
  color:darkblue
}

.data-info{
  font-family: Arial, Helvetica, sans-serif;
  color:maroon;
}

.text-info{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.large-link {
  font-size: 1.2em;
}

button {
  margin: .3em .5em;
  padding: .3em .5em;
  font-size: 01.7em;
}

#newStoreForm{
  margin: 1em;
}